<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" args="0.2 0 0.03 0 0 0 1 camera_link base_link " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="wheel_one_broadcaster" args="0.2 0.2 0 0 0 0 1 base_link wheel_one " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="wheel_two_broadcaster" args="0.2 -0.2 0 0 0 0 1 base_link wheel_two " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="wheel_three_broadcaster" args="-0.2 -0.2 0 0 0 0 1 base_link wheel_three " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="wheel_four_broadcaster" args="-0.2 0.2 0 0 0 0 1 base_link wheel_four " />
</launch>
