<launch>
    <!-- Transformación que une la cámara con la base -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0.18855 0 0.035 0 0 0 1 base_link camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 -0.2 0 0 0 1 base_link base_footprint 100" />
</launch>
